
body {
    color: #282828;
    background: #ffffff;
    font-size: 2em;
    font-family: "Calibri";
    text-align: center;
}


#body {
	margin-top: 5em;
	padding: 4em;
}

.main :link {
    text-decoration: none;
    color: #000000;
}

.main :visited {
    text-decoration: none;
    color: #000000;
}